*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}

.main-page {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.form {
    padding: 4rem 0;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 45rem;
}
.form__legend {
    text-align: center;
    padding: 0 0.5rem;
}
.form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__group {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.form__input {
    display: block;
    width: 100%;
    max-width: 45rem;
    background-color: #eef5f3;
    border: none;
    outline: none;
    height: 5rem;
    border-radius: 2rem;
    padding: 0 1.5rem;
    transition: background 0.3s;
    color: #88908e;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.form__input-half {
    display: inline-block;
    width: 48.5%;
}
.form__input-checkbox:checked {
    filter: invert(100%) hue-rotate(118deg) brightness(1.2);
}
.form__input::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: inherit;
    opacity: 0.75;
}
.form__input:focus, .form__inputactive {
    background: #ffffff;
    border: 1px solid #e1eae7;
}

.switch {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #28b498;
    padding: 0 2rem;
    color: #ffffff;
}
.switch__header {
    margin-bottom: 4rem;
}
.switch__text-container {
    text-align: center;
}

.login,
.signup {
    display: flex;
    opacity: 1;
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 2rem 4rem;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.login__header,
.signup__header {
    margin-bottom: 0;
}
.login__byline,
.signup__byline {
    margin-bottom: 4rem;
}

.social-media__container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.social-media__icon:not(:last-child) {
    margin-right: 1rem;
}

.header {
    text-align: center;
    font-weight: 200;
}

.icon {
    cursor: pointer;
}

.btn {
    width: 23.5rem;
    min-height: 5.5rem;
    background-color: #28b498;
    border-radius: 3rem;
    outline: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    margin: 3.2rem 0;
    transition: 0.3s;
}
.btn:hover, .btn:active {
    background-color: #2dc9aa;
}
.btn-white {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 12px 24px rgba(34, 51, 49, 0.13);
}
.btn-white:hover, .btn-white:active {
    background-color: #ffffff;
    color: #28b498;
    box-shadow: none;
}

.hide-view {
    opacity: 0;
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 0.000001;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.signup.hide-view {
    transform: translateX(-50vw);
}

.login.hide-view {
    transform: translateX(50vw);
}

.smooth {
    transition: transform 0.3s linear, opacity 0.3s ease-in-out, flex-grow 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}