@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}

body {
    font-family: 'Varela Round', sans-serif;
}
.modal-cancel {
    color: #434e65;
    width: 525px;
    margin: 30px auto;
}
.modal-cancel .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-cancel .modal-header {
    background: red;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-cancel h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-cancel .form-control, .modal-cancel .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-cancel .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-cancel .close:hover {
    opacity: 0.8;
}
.modal-cancel .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-cancel .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-cancel .btn {
    color: #fff;
    border-radius: 4px;
    background: #eeb711;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}
.modal-cancel .btn:hover, .modal-cancel .btn:focus {
    background: #eda645;
    outline: none;
}
.modal-cancel .btn span {
    margin: 1px 3px 0;
    float: left;
}
.modal-cancel .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}